alembic==1.4.2
astroid==2.3.3
beautifulsoup4==4.9.1
bs4==0.0.1
cachetools==4.1.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
dash==1.11.0
dash-core-components==1.9.1
dash-html-components==1.0.3
dash-renderer==1.4.0
dash-table==4.6.2
decorator==4.4.2
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SQLAlchemy==2.4.1
fsspec==0.7.4
future==0.18.2
gcsfs==0.6.2
google-api-core==1.22.0
google-auth==1.19.2
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
gunicorn==20.0.4
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.2
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.3
oauthlib==3.1.0
pandas==1.0.5
plotly==4.6.0
protobuf==3.12.2
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
selenium==3.141.0
shortuuid==1.0.1
six==1.14.0
soupsieve==2.0.1
SQLAlchemy==1.3.16
urllib3==1.25.10
Werkzeug==1.0.0
wikipedia==1.4.0
Wikipedia-API==0.5.4
wincertstore==0.2
wrapt==1.11.2
